* {
    box-sizing: border-box;
}

body {
    background: #eee;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

#container {
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 600px 1fr 400px;
    gap: 20px;
}
div {
    border-radius: 15px;
    padding: 10px;
}

#header {
    grid-column: 1/5;
    display: grid;
    grid-template-columns: 100px 200px 1fr min-content;
    align-items: center;
    gap: 20px;
    padding: 0;
}
#header img {
    width: 100%;
}
#header ul {
    grid-column: 4/5;
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
#header a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#main {
    background-image: url("images/happiest-dog.jpeg");
    background-size: cover;
    background-position-y: bottom;
    grid-column: 1/5;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 20px;
}
#main h1 {
    font-size: 50px;
    color: white;
}
#main h4 {
    font-size: 20px;
    color: white;
}

#offer {
    background-color: white;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#offer img {
    width: 100%;
    border-radius: 15px;
}
#partners {
    background-color: #66a;
    grid-column: 4/5;
    grid-row: 3/5;
}
.card {
    background-color: #a82;
}